//VARIABILI FONT

$global_font: "Open Sans", sans-serif;

// VARIABILI PALETTE

// COLORS

// HEADER-NAVBAR
$header_bg: #060607;


$navbar_links_active: #ffff;
$navbar_links_inactive: #98939f;

// NEW LABEL

$new_link_label_bg_color: #fff941;
$new_link_label_txt_color: #000;