//VARIABILI FONT

$global_font: "Open Sans", sans-serif;

// VARIABILI PALETTE

// COLOR CUBE 

$white: #ffff;
$cod_gray: #060606;
$windsor: #6b0c7a;
$monza: #bc0428;
$silver: #bcbcbc;
$dodger_blue: #4154fe;
$jumbo: #78787a;
$astronaut_blue: #014461;
$burnt_sienna: #ec5a57;
$verdun_green: #504e00;

// MEDIAN CUT

$oriental_pink: #bc8b96;
$cinder: #0d0b12;
$cosmic: #683551;
$daisy_bush: #4321aa;
$sea_nymph: #709e9c;


// MATERIAL DESIGN

$shiraz: #a00644;
$mongoloose: #b6967e;
$blue_gem: #4613a0;
$cocoa_brown: #362428;
$royal_blue: #4257ef;